html {
  font-family: "iA Writer Quattro V", system-ui, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  --baseFontSize: 0.9rem;
  --checkboxBorderRadius: 3.75px;
}

.checkWrap {
  margin-left: 1.5px;
}

/* MAKE ALL BULLET GAPS THE SAME */
[class*="OutlinerItem-module_children"] {
  padding-bottom: 0px;
}

/* SCOOT TODO BOXES OVER TO THE LEFT TO REPLACE THE BULLET FOR TASKS */
[class*="OutlinerItem-module_content"] .doneCheckboxLabel {
  margin-left: -1.5rem !important;
  padding-right: 0.125rem !important;
  transform: scale(1.025) !important;
  transform: translateY(-0.25px) !important;
}

.doneCheckboxLabel input[type="checkbox"] {
  background-position: top;
  border-radius: var(--checkboxBorderRadius);
}

.doneCheckboxLabel input[type="checkbox"]:checked {
  background-color: var(--colorGreen500);
}

.doneCheckboxLabel input[type="checkbox"]:focus:before {
  border: 1.75px solid var(--colorGreen600);
  border-radius: calc(var(--checkboxBorderRadius) + 1px);
}

div[data-tag-name="journal"] b {
  font-weight: normal;
  color: #84caff;
  opacity: 0.75;
}

div[data-tag-name="journal"] b:after {
  content: " | ";
}

.editable .disappearingCaret {
  width: 0;
}

.inlinerefnode {
  /* top | left and right | bottom */
  padding: 0px 3px 3px;
  margin: 0 -3px;
}

a[href ^= http]:not(.hide-external-link-icon):after,
a[href ^= "https://"]:not(.hide-external-link-icon):after
{
  margin-left: -1px;
  margin-right: 0.35em;
}

/* SHRINK COMMAND BUTTON PADDING FOR COMMANDS WITH ICONS TO MATCH SIZE OF COMMANDS WITH TEXT ONLY */
[class*="Button-module_buttonGroup"] [class*="ObjectAvatar-module_inherit"] {
  margin: -1px !important;
}
